<nav class="footer">
    <ul class="footer__menu menu">
        <li class="menu__elmt {% if app.request.attributes.get('_route') == 'app_homepage' %}active{% endif %}"><a
                    href="{{ path('app_homepage') }}">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill" d="M26.8413 11.843C26.8413 11.6336 26.7581 11.4328 26.6101 11.2847C26.4621 11.1367 26.2613 11.0535 26.0519 11.0535C25.8425 11.0535 25.6417 11.1367 25.4937 11.2847C25.3456 11.4328 25.2625 11.6336 25.2625 11.843H26.8413ZM4.73752 11.843C4.73752 11.6336 4.65435 11.4328 4.50631 11.2847C4.35826 11.1367 4.15747 11.0535 3.9481 11.0535C3.73874 11.0535 3.53794 11.1367 3.3899 11.2847C3.24185 11.4328 3.15868 11.6336 3.15868 11.843H4.73752ZM28.6507 15.5596C28.7989 15.7079 28.9999 15.7911 29.2096 15.7911C29.4192 15.7911 29.6203 15.7079 29.7685 15.5596C29.9167 15.4114 30 15.2103 30 15.0007C30 14.7911 29.9167 14.59 29.7685 14.4418L28.6507 15.5596ZM15 0.790848L15.5589 0.231927C15.4856 0.158409 15.3985 0.100081 15.3026 0.0602834C15.2067 0.0204857 15.1038 0 15 0C14.8962 0 14.7933 0.0204857 14.6974 0.0602834C14.6015 0.100081 14.5144 0.158409 14.4411 0.231927L15 0.790848ZM0.231508 14.4418C0.0832758 14.59 0 14.7911 0 15.0007C0 15.2103 0.0832758 15.4114 0.231508 15.5596C0.37974 15.7079 0.580786 15.7911 0.790418 15.7911C1.00005 15.7911 1.2011 15.7079 1.34933 15.5596L0.231508 14.4418ZM7.10579 30H22.8942V28.4211H7.10579V30ZM26.8413 26.0528V11.843H25.2625V26.0528H26.8413ZM4.73752 26.0528V11.843H3.15868V26.0528H4.73752ZM29.7685 14.4418L15.5589 0.231927L14.4411 1.34977L28.6507 15.5596L29.7685 14.4418ZM14.4411 0.231927L0.231508 14.4418L1.34933 15.5596L15.5589 1.34977L14.4411 0.231927ZM22.8942 30C23.941 30 24.945 29.5841 25.6852 28.8439C26.4255 28.1037 26.8413 27.0997 26.8413 26.0528H25.2625C25.2625 26.6809 25.013 27.2833 24.5688 27.7275C24.1247 28.1716 23.5223 28.4211 22.8942 28.4211V30ZM7.10579 28.4211C6.47768 28.4211 5.87531 28.1716 5.43117 27.7275C4.98704 27.2833 4.73752 26.6809 4.73752 26.0528H3.15868C3.15868 27.0997 3.57454 28.1037 4.31476 28.8439C5.05499 29.5841 6.05895 30 7.10579 30V28.4211Z"
                          fill="#E4F0FE"/>
                </svg>

            </a></li>
        <li class="menu__elmt {% if app.request.attributes.get('_route') == 'app_tasks' %}active{% endif %}"><a
                    href="{{ path('app_tasks') }}">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill" d="M15.005 30C12.9317 30 10.9817 29.6067 9.155 28.82C7.32944 28.0322 5.74111 26.9633 4.39 25.6133C3.03889 24.2644 1.96944 22.6778 1.18167 20.8533C0.393889 19.0289 0 17.0794 0 15.005C0 12.9317 0.393889 10.9817 1.18167 9.155C1.96944 7.32833 3.03833 5.74 4.38833 4.39C5.73833 3.03889 7.32555 1.96944 9.15 1.18167C10.9756 0.393889 12.9256 0 15 0C16.7056 0 18.3194 0.263889 19.8417 0.791667C21.3639 1.31944 22.7522 2.05556 24.0067 3L22.8067 4.24C21.7089 3.42444 20.5011 2.79111 19.1833 2.34C17.8656 1.89111 16.4711 1.66667 15 1.66667C11.3056 1.66667 8.15944 2.96556 5.56167 5.56333C2.96389 8.16111 1.66556 11.3067 1.66667 15C1.66667 18.6944 2.96556 21.8406 5.56333 24.4383C8.16111 27.0361 11.3067 28.3344 15 28.3333C18.6944 28.3333 21.8406 27.035 24.4383 24.4383C27.0361 21.8417 28.3344 18.6956 28.3333 15C28.3333 14.3289 28.2844 13.6711 28.1867 13.0267C28.0878 12.3811 27.94 11.7533 27.7433 11.1433L29.0733 9.78167C29.3789 10.6072 29.61 11.4533 29.7667 12.32C29.9222 13.1878 30 14.0811 30 15C30 17.0756 29.6067 19.0256 28.82 20.85C28.0322 22.6756 26.9633 24.2633 25.6133 25.6133C24.2644 26.9633 22.6778 28.0317 20.8533 28.8183C19.0289 29.6061 17.0794 30 15.005 30ZM12.6033 21.5133L6.67333 15.5833L7.85333 14.4033L12.6033 19.1533L28.82 2.92667L30 4.105L12.6033 21.5133Z" fill="#E4F0FE"/>
                </svg>


            </a></li>
        <li class="menu__elmt {% if app.request.attributes.get('_route') == 'app_planning' %}active{% endif %}"><a
                    href="{{ path('app_planning') }}">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="fill" d="M27.1875 30H2.8125C1.25625 30 0 28.7437 0 27.1875V4.6875C0 3.13125 1.25625 1.875 2.8125 1.875H27.1875C28.7437 1.875 30 3.13125 30 4.6875V27.1875C30 28.7437 28.7437 30 27.1875 30ZM2.8125 3.75C2.2875 3.75 1.875 4.1625 1.875 4.6875V27.1875C1.875 27.7125 2.2875 28.125 2.8125 28.125H27.1875C27.7125 28.125 28.125 27.7125 28.125 27.1875V4.6875C28.125 4.1625 27.7125 3.75 27.1875 3.75H2.8125Z" fill="#E4F0FE"/>
                    <path class="fill" d="M8.4375 7.5C7.9125 7.5 7.5 7.0875 7.5 6.5625V0.9375C7.5 0.4125 7.9125 0 8.4375 0C8.9625 0 9.375 0.4125 9.375 0.9375V6.5625C9.375 7.0875 8.9625 7.5 8.4375 7.5ZM21.5625 7.5C21.0375 7.5 20.625 7.0875 20.625 6.5625V0.9375C20.625 0.4125 21.0375 0 21.5625 0C22.0875 0 22.5 0.4125 22.5 0.9375V6.5625C22.5 7.0875 22.0875 7.5 21.5625 7.5ZM29.0625 11.25H0.9375C0.4125 11.25 0 10.8375 0 10.3125C0 9.7875 0.4125 9.375 0.9375 9.375H29.0625C29.5875 9.375 30 9.7875 30 10.3125C30 10.8375 29.5875 11.25 29.0625 11.25Z" fill="#E4F0FE"/>
                </svg>

            </a></li>
        <li class="menu__elmt {% if app.request.attributes.get('_route') == 'app_conversation' %}active{% endif %}"><a
                    href="{{ path('app_conversation') }}">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path  class="fill" d="M1.57895 27.7737L7.24737 22.1053H25.2632C26.1007 22.1053 26.9039 21.7726 27.4961 21.1803C28.0883 20.5881 28.4211 19.7849 28.4211 18.9474V4.73684C28.4211 3.89932 28.0883 3.09609 27.4961 2.50387C26.9039 1.91165 26.1007 1.57895 25.2632 1.57895H4.73684C3.89932 1.57895 3.09609 1.91165 2.50387 2.50387C1.91165 3.09609 1.57895 3.89932 1.57895 4.73684V27.7737ZM1.57895 30H0V4.73684C0 3.48055 0.499059 2.27572 1.38739 1.38739C2.27572 0.499059 3.48055 0 4.73684 0H25.2632C26.5194 0 27.7243 0.499059 28.6126 1.38739C29.5009 2.27572 30 3.48055 30 4.73684V18.9474C30 20.2037 29.5009 21.4085 28.6126 22.2968C27.7243 23.1852 26.5194 23.6842 25.2632 23.6842H7.89474L1.57895 30ZM6.31579 6.31579H23.6842V7.89474H6.31579V6.31579ZM6.31579 11.0526H23.6842V12.6316H6.31579V11.0526ZM6.31579 15.7895H18.9474V17.3684H6.31579V15.7895Z" fill="#E4F0FE"/>
                </svg>

            </a></li>
        <li class="menu__elmt {% if app.request.attributes.get('_route') == 'app_profile' %}active{% endif %}"><a
                    href="{{ path('app_profile') }}">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 27.25C1 25.2609 1.79018 23.3532 3.1967 21.9467C4.60322 20.5402 6.51088 19.75 8.5 19.75H23.5C25.4891 19.75 27.3968 20.5402 28.8033 21.9467C30.2098 23.3532 31 25.2609 31 27.25C31 28.2446 30.6049 29.1984 29.9016 29.9016C29.1984 30.6049 28.2446 31 27.25 31H4.75C3.75544 31 2.80161 30.6049 2.09835 29.9016C1.39509 29.1984 1 28.2446 1 27.25Z" stroke="#00084D" stroke-width="2" stroke-linejoin="round"/>
                    <path d="M16 12.25C19.1066 12.25 21.625 9.7316 21.625 6.625C21.625 3.5184 19.1066 1 16 1C12.8934 1 10.375 3.5184 10.375 6.625C10.375 9.7316 12.8934 12.25 16 12.25Z" stroke="#00084D" stroke-width="2"/>
                </svg>


            </a></li>
    </ul>
</nav>