<nav>
    <ul>
        <li><a href="{{ path('app_homepage') }}">Home</a></li>
        <li><a href="{{ path('app_tasks') }}">Tâches</a></li>
        <li><a href="{{ path('app_planning') }}">Planning</a></li>
        <li><a href="{{ path('app_conversation') }}">Conversations</a></li>
        <li><a href="{{ path('app_profile') }}">Profil</a></li>
    </ul>
</nav>