{% extends 'base.html.twig' %}

{% block title %} {{ parent() }}{% endblock %}

{% block body %}
    <script defer>
        const formatter = new Intl.DateTimeFormat('fr-FR', {
            weekday: "long",
            day: "2-digit",
            month: "short",
            hour: "2-digit",
            minute: "2-digit",
            timeZone: 'Europe/Paris'
        })

        const eventSource = new EventSource("{{ mercure('http://koolkids.com/conversation/' ~ conversationId)|escape('js') }}");
        eventSource.onmessage = event => {
            // Will be called every time an update is published by the server
            const data = JSON.parse(event.data)
            console.log(data)

            const feedEl = document.querySelector("#feed");

            const newMsg = document.createElement('article')
            const p = document.createElement('p')
            const timeEl = document.createElement('time')
            newMsg.classList.add('message')
            newMsg.setAttribute('data-user-id', `${data.user.id}`)

            p.textContent = data.content

            newMsg.append(p)

            timeEl.setAttribute('datetime', data.timestamp)
            timeEl.textContent = formatter.format(new Date(data.timestamp))

            newMsg.append(timeEl)
            feedEl.append(newMsg)
        }
    </script>

    <div class="example-wrapper">
        <h1>Messages</h1>

        <div class="container" id="feed">
            {% if messages %}
                {% for msg in messages %}
                    <article class="message" data-user-id="{{ msg.user.id }}">
                        <p>{{ msg.content }}</p>
                        {# https://www.php.net/manual/en/datetime.format.php #}
                        <time datetime="{{ msg.timestamp|date('c') }}">{{ msg.timestamp|format_datetime(pattern='', locale='fr') }}</time>
                    </article>
                {% endfor %}
            {% endif %}

        </div>

        <form id="input">
            <label for="message" aria-label="Saisir votre message">
                <input type="text" id="message" autocomplete="off" spellcheck="false" />
            </label>
            <button type="submit">Envoyer</button>
        </form>
    </div>


    <script defer>
        const form = document.querySelector('#input')
        const input = document.querySelector('#message')

        form.addEventListener('submit', (e) => {
            e.preventDefault()

            const payload = {
                content: input.value.trim(),
            }

            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload),
            }

            fetch("{{ path('app_conversation_send', { conv_id: conversationId }) }}", options)
                .then(resp => resp.json())
                .then(data => {
                    console.log(data)
                    input.value = ''
                })
                .catch(error => {
                    alert("Une erreur est survenue. Consultez la console pour plus de détails")
                    console.error(error)
                })
        })

    </script>

    <style>
        .message {
            margin-block: 1rem;
            max-width: max-content;
            border-radius: 0.75rem;
            border: 1px solid #eee;
            padding: 0.5rem 1rem;
            font-family: system-ui;
            font-size: 1rem;
        }

        time {
            margin-top: 0.25rem;
            font-size: 14px;
            font-style: italic;
            opacity: 0.6;
        }
    </style>
{% endblock %}
