{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Liste des tâches{% endblock %}

{% block body %}

    <div class="tasks">
        <form action="" method="post" name="formRange" class="filter">
            <p class="filter__label">Distance :</p>
            <select name="maxRange" id="maxRange" class="filter__select">
                <option class="filter__option" value=""></option>
                <option class="filter__option" value="1">1 km</option>
                <option class="filter__option" value="3">3 km</option>
                <option class="filter__option" value="5">5 km</option>
                <option class="filter__option" value="10">10 km</option>
                <option class="filter__option" value="15">15 km</option>
            </select>
            <button type="submit" name="filtrer" class="filter__button">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 19L13 13M1 8C1 8.91925 1.18106 9.82951 1.53284 10.6788C1.88463 11.5281 2.40024 12.2997 3.05025 12.9497C3.70026 13.5998 4.47194 14.1154 5.32122 14.4672C6.1705 14.8189 7.08075 15 8 15C8.91925 15 9.82951 14.8189 10.6788 14.4672C11.5281 14.1154 12.2997 13.5998 12.9497 12.9497C13.5998 12.2997 14.1154 11.5281 14.4672 10.6788C14.8189 9.82951 15 8.91925 15 8C15 7.08075 14.8189 6.1705 14.4672 5.32122C14.1154 4.47194 13.5998 3.70026 12.9497 3.05025C12.2997 2.40024 11.5281 1.88463 10.6788 1.53284C9.82951 1.18106 8.91925 1 8 1C7.08075 1 6.1705 1.18106 5.32122 1.53284C4.47194 1.88463 3.70026 2.40024 3.05025 3.05025C2.40024 3.70026 1.88463 4.47194 1.53284 5.32122C1.18106 6.1705 1 7.08075 1 8Z"
                          stroke="#E4F0FE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </form>

        <div class="content">
            {% for task in tasks %}
                <div class="task__card">
                    <p class="task__title">{{ task.name }}</p>
                    <p class="task__dates">
                        <svg class="task__icon" width="11" height="15" viewBox="0 0 11 15" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 3.72404V1.15385C11 0.847827 10.8712 0.554342 10.642 0.337954C10.4128 0.121566 10.1019 0 9.77778 0H1.22222C0.898069 0 0.587192 0.121566 0.357981 0.337954C0.128769 0.554342 0 0.847827 0 1.15385V3.75C0.000560722 3.92911 0.0450629 4.10566 0.130017 4.26582C0.214971 4.42597 0.338067 4.56537 0.489653 4.67308L4.48174 7.5L0.488889 10.3269C0.3374 10.4347 0.214419 10.5741 0.129595 10.7342C0.0447715 10.8944 0.000412874 11.0709 0 11.25V13.8462C0 14.1522 0.128769 14.4457 0.357981 14.662C0.587192 14.8784 0.898069 15 1.22222 15H9.77778C10.1019 15 10.4128 14.8784 10.642 14.662C10.8712 14.4457 11 14.1522 11 13.8462V11.276C11 11.0974 10.9561 10.9214 10.8718 10.7616C10.7875 10.6018 10.6651 10.4626 10.5142 10.355L6.51292 7.5L10.5142 4.64495C10.6649 4.5372 10.7871 4.39801 10.8714 4.23826C10.9557 4.0785 10.9997 3.90251 11 3.72404Z"
                                  fill="#00084D"/>
                        </svg>
                        {{ task.startDate| format_datetime(pattern="d MMM/HH'h'mm", locale='fr-FR') }}
                        -
                        {{ task.endDate| format_datetime(pattern="d MMM/HH'h'mm", locale='fr-FR') }}</p>
                    <p class="task__location">
                        <svg class="task__icon" width="12" height="15" viewBox="0 0 12 15" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 0C7.5913 0 9.11742 0.650405 10.2426 1.80813C11.3679 2.96586 12 4.53607 12 6.17335C12 8.78198 10.2185 11.6249 6.70154 14.7325C6.50598 14.9053 6.25665 15.0002 5.99885 15C5.74104 14.9998 5.49188 14.9044 5.29662 14.7312L5.064 14.5235C1.70277 11.497 0 8.72373 0 6.17335C0 4.53607 0.632141 2.96586 1.75736 1.80813C2.88258 0.650405 4.4087 0 6 0ZM6 3.79898C5.38796 3.79898 4.80099 4.04914 4.36822 4.49442C3.93544 4.9397 3.69231 5.54363 3.69231 6.17335C3.69231 6.80307 3.93544 7.407 4.36822 7.85228C4.80099 8.29756 5.38796 8.54771 6 8.54771C6.61204 8.54771 7.19901 8.29756 7.63179 7.85228C8.06456 7.407 8.30769 6.80307 8.30769 6.17335C8.30769 5.54363 8.06456 4.9397 7.63179 4.49442C7.19901 4.04914 6.61204 3.79898 6 3.79898Z"
                                  fill="#00084D"/>
                        </svg>
                        {{ task.address.address }}</p>
                    <div class="task-footer">
                        <p class="task__quota">
                            <svg class="task__icon" width="15" height="16" viewBox="0 0 15 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M10.2273 6.05762C10.2273 6.78094 9.93991 7.47463 9.42845 7.98609C8.91699 8.49756 8.2233 8.78489 7.49998 8.78489C6.77666 8.78489 6.08297 8.49756 5.5715 7.98609C5.06004 7.47463 4.77271 6.78094 4.77271 6.05762C4.77271 5.3343 5.06004 4.64061 5.5715 4.12915C6.08297 3.61769 6.77666 3.33035 7.49998 3.33035C8.2233 3.33035 8.91699 3.61769 9.42845 4.12915C9.93991 4.64061 10.2273 5.3343 10.2273 6.05762ZM8.86361 6.05762C8.86361 6.41928 8.71995 6.76613 8.46421 7.02186C8.20848 7.27759 7.86164 7.42126 7.49998 7.42126C7.13832 7.42126 6.79147 7.27759 6.53574 7.02186C6.28001 6.76613 6.13634 6.41928 6.13634 6.05762C6.13634 5.69596 6.28001 5.34912 6.53574 5.09339C6.79147 4.83765 7.13832 4.69399 7.49998 4.69399C7.86164 4.69399 8.20848 4.83765 8.46421 5.09339C8.71995 5.34912 8.86361 5.69596 8.86361 6.05762Z"
                                      fill="#00084D"/>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M7.5 0.603077C3.35795 0.603077 0 3.96103 0 8.10308C0 12.2451 3.35795 15.6031 7.5 15.6031C11.642 15.6031 15 12.2451 15 8.10308C15 3.96103 11.642 0.603077 7.5 0.603077ZM1.36364 8.10308C1.36364 9.52808 1.84977 10.8399 2.66455 11.8817C3.23675 11.1303 3.97493 10.5213 4.82143 10.1024C5.66793 9.68345 6.59983 9.46589 7.54432 9.46671C8.47659 9.46583 9.39676 9.67775 10.2347 10.0863C11.0727 10.4949 11.8063 11.0894 12.3798 11.8244C12.9705 11.0496 13.3683 10.1453 13.5402 9.18621C13.712 8.22714 13.653 7.24094 13.3681 6.3092C13.0831 5.37746 12.5804 4.52697 11.9015 3.8281C11.2226 3.12923 10.387 2.60207 9.4639 2.29024C8.5408 1.97841 7.55673 1.89088 6.59309 2.03488C5.62945 2.17888 4.71395 2.55028 3.92234 3.11834C3.13074 3.68641 2.48578 4.43481 2.04084 5.30162C1.5959 6.16843 1.36376 7.12874 1.36364 8.10308ZM7.5 14.2394C6.09133 14.2416 4.72518 13.7569 3.63273 12.8676C4.07245 12.2381 4.65773 11.7242 5.33877 11.3695C6.0198 11.0147 6.77645 10.8298 7.54432 10.8303C8.30261 10.8297 9.05011 11.0101 9.72472 11.3563C10.3993 11.7026 10.9816 12.2048 11.4232 12.8213C10.3222 13.7395 8.93358 14.2415 7.5 14.2394Z"
                                      fill="#00084D"/>
                            </svg>
                            {{ task.quota }}</p>
                        <svg class="task_arrow" width="22" height="22" viewBox="0 0 22 22" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <rect x="19.7917" y="12.0138" width="13" height="2" transform="rotate(135 19.7917 12.0138)"
                                  fill="#00084D"/>
                            <rect x="2.11426" y="9.89243" width="13" height="2" transform="rotate(45 2.11426 9.89243)"
                                  fill="#00084D"/>
                            <rect x="11.6064" y="1" width="17.7849" height="2" transform="rotate(90 11.6064 1)"
                                  fill="#00084D"/>
                        </svg>
                    </div>

                    <div class="panel">
                        <p class="panel__title">Description</p>
                        <p class="task__description">{{ task.description }}</p>
                        <a class="icone__lien" href="{{ path('app_map', {id:task.id}) }}">
                            <svg class="icone__carte" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path d="M565.6 36.2C572.1 40.7 576 48.1 576 56V392c0 10-6.2 18.9-15.5 22.4l-168 64c-5.2 2-10.9 2.1-16.1 .3L192.5 417.5l-160 61c-7.4 2.8-15.7 1.8-22.2-2.7S0 463.9 0 456V120c0-10 6.1-18.9 15.5-22.4l168-64c5.2-2 10.9-2.1 16.1-.3L383.5 94.5l160-61c7.4-2.8 15.7-1.8 22.2 2.7zM48 136.5V421.2l120-45.7V90.8L48 136.5zM360 422.7V137.3l-144-48V374.7l144 48zm48-1.5l120-45.7V90.8L408 136.5V421.2z"/>
                            </svg>
                        </a>
                        <form method="post" action="{{ path('app_tasks') }}" class="task-form">
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button type="submit" class="task-form__button" name="participer">Participer !</button>
                        </form>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
    <script defer>
        var acc = document.querySelectorAll(".task__card");
        var i;
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("activeAccordion");
                const panel = Array.from(this.childNodes).find(node => node.className === "panel");
                const footer = Array.from(this.childNodes).find(node => node.className === "task-footer");
                const arrow = Array.from(footer.childNodes).find(node => node.className?.baseVal === "task_arrow");
                if (panel.style.maxHeight) {

                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
{% endblock %}
